body h1 {
    text-align: center;
}

body {
    background-color: rgb(156, 221, 199);

}

.bio {
    background-color: rgb(187, 245, 226);
    margin-left: 20px;
    margin-right: 950px;
    padding: 20px;
    border: dashed rgb(102, 179, 153);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float: left;
    position: absolute;

}

h1 {
    font-size: 40px;
    padding: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#mochi-picture {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3, ul {
    text-align: center;
}

h3 {
    font-size: 25px;
    /* padding-top: 10px;
    padding-bottom: 20px; */
}

.workeducation {
    border: dashed;
    background-color: rgb(187, 245, 226);
    margin-left: 500px;
    /* padding: 20px; */
    border: dashed rgb(102, 179, 153);
    position: relative;
}

ul {
    list-style-type: disc;
}

.favorite {

float: clear;
}
 