body h1 {
    text-align: center;
}

body {
    background-color: rgb(156, 221, 199);

}

p {
    background-color: rgb(187, 245, 226);
    margin-left: 90px;
    margin-right: 90px;
    padding: 20px;
    border: dashed rgb(102, 179, 153);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

h1 {
    font-size: 40px;
    padding: 40px;
    font-family: 'Courier New', Courier, monospace;
}

#mochi-picture {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3, ul {
    text-align: center;
}

h3 {
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 20px;
}

article {
    border: dashed;
    background-color: rgb(187, 245, 226);
    margin-left: 90px;
    margin-right: 90px;
    padding: 20px;
    border: dashed rgb(102, 179, 153);
}